@import "tailwindcss";

@theme inline {
  --font-satoshi: var(--satoshi);
  --font-integralcf: var(--integralcf);

  --color-body: rgba(0, 0, 0, 0.6);

  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-muted: #f0f0f0;
  --color-muted-foreground: #000000;

  --color-primary: #000000;
  --color-primary-foreground: #ffffff;

  --color-secondary: #ffffff;
  --color-secondary-foreground: #000000;

  --color-product-background: #f0eeed;
  --color-primary-background: #000000;

  --color-border: --alpha(var(--color-primary) / 20%);
  --color-success: #01ab31;
  --color-destructive: #ff3333;
  --color-star: #ffc633;

  --color-link: rgba(0, 0, 0, 0.6);
  --color-link-hover: rgba(0, 0, 0, 1);

  --color-btn-primary: #000000;
  --color-btn-primary-foreground: #ffffff;

  --color-btn-secondary: #ffffff;
  --color-btn-secondary-foreground: #000000;
}

body {
  color: var(--color-body);
  background-color: var(--color-background);
  font-family: var(--font-satoshi);
  font-weight: 400;
  font-size: var(--text-base);
}
